<div class="main">
    <p class="left"><b style="font-size: 17px; padding-bottom: 2%;">Adresa</b><br>Ulica rascvetalog cveća 15,<br>11000 Beograd</p>
    <div class="middle">
        <b style="font-size: 17px;">GLI AGENCY</b>
        <p style="font-size: 15px;">Pridružite nam se na društvenim mrežama</p>
        <div class="social-networks">
            <div class="sn-img"><img src="assets/images/facebook-icon.png"></div>
            <div class="sn-img"><img src="assets/images/instagram-icon.png"></div>
            <div class="sn-img"><img src="assets/images/youtube-icon.png"></div>
            <div class="sn-img"><img src="assets/images/linkedin-icon.png"></div>
        </div>
    </div>
    <p class="right"><b style="font-size: 17px; padding-bottom: 2%;">Kontaktirajte nas</b><br>support@gliagency.rs<br>011 x xxx xxx</p>
    

    <p class="bottom">2020. GLI Agency<br>All rights reserved</p>
</div>